<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<script src="lib/angularjs/angular.min.js"></script>

<script src="lib/jquery/jquery-1.11.3.min.js"></script>

<script src="lib/bootstrap/js/bootstrap.min.js"></script>

<script src="js/buscaCepApp-controller.js"></script>

<style>
	.alerts-container{
		margin-top:30px;
	}
	.endereco-item-title{
		
	}
	.endereco-element{
		padding:6px;
		cursor:pointer;
	}
	.endereco-element:hover {
		background-color: #CCC;	
	}
	.endereco-element-selected{
		background-color: #FFC;
	}
}
	
</style>
</head>
<body>
	<div ng-app="buscaCepApp" ng-controller="EnderecoController">
		<div class="row">
			<div ng-show="listaCEPS.length>0" class="col-lg-2  col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">Adicionados</div>
					<div class="panel-body">
						<div>
  							<div ng-class="{'endereco-element':true,'endereco-element-selected':isSelected(obj)}" ng-repeat="obj in listaCEPS" >
  								<span class="endereco-item-title" ng-click="selecionar(obj);">{{obj.id}}</span>
	  							<span ng-click="deletar(obj);" title="Deletar" class="glyphicon glyphicon-remove-sign"></span>
	  						</div>	
  						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-8  col-sm-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span>CEP</span>
						<input type="text" ng-model="inputcep">
						<span><button class="glyphicon glyphicon-search" type="button" ng-click="procurarCEP();"></button></span>
					</div>
					<div class="panel-body">
						<div class="input-group">
							<div class="row">
								<div class="col-lg-8 col-sm-12">
									<div ng-class="{'form-group' : true, 'has-error': invalidInputs.inputRua}">
										<label class="control-label" for="inptTxtRua">Rua</label>
										<input type="text" class="form-control" id="inptTxtRua" ng-model="inputRua" placeholder=" ">
									</div>	
								</div>
								<div class="col-lg-4 col-sm-12">
									<div ng-class="{'form-group' : true, 'has-error': invalidInputs.inputNumero}">
										<label class="control-label" for="inptTxtNumero">Número</label>
										<input type="text" class="form-control" id="inptTxtNumero" ng-model="inputNumero" placeholder=" ">
									</div>	
								</div>
								<div class="col-lg-8 col-sm-12">
									<div ng-class="{'form-group' : true, 'has-error': invalidInputs.inputBairro}">
										<label class="control-label" for="inptTxtBairro">Bairro</label>
										<input type="text" class="form-control" ng-model="inputBairro" id="inptTxtBairro" aria-invalid="false">
									</div>	
								</div>
								<div class="col-lg-4 col-sm-12">
									<div ng-class="{'form-group' : true, 'has-error': invalidInputs.inputComplemento}">
										<label class="control-label" for="inptTxtComplemento">Complemento</label>
										<input type="text" class="form-control" ng-model="inputComplemento" id="inptTxtComplemento" aria-invalid="false">
									</div>	
								</div>
								<div class="col-lg-8 col-sm-12">
									<div ng-class="{'form-group' : true, 'has-error': invalidInputs.inputCidade}">
										<label class="control-label" for="inptTxtCidade">Cidade</label>
										<input type="text" class="form-control" id="inptTxtCidade" ng-model="inputCidade" placeholder=" ">
									</div>
								</div>	
								<div class="col-lg-4 col-sm-12">
									<div ng-class="{'form-group' : true, 'has-error': invalidInputs.inputUF}">
										<label class="control-label" for="inptTxtEstado">Estado</label>
										<input type="text" class="form-control" id="inptTxtEstado" ng-model="inputUF">
									</div>	
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<div class="alerts-container">
										<div ng-if="showMensagemSubstuido" class="alert alert-warning" role="alert">
											{{messages.CEP_SUBSTITUIDO}}
										</div>
										<div ng-if="showMensagemInvalido" class="alert alert-danger" role="alert">
											{{messages.CEP_INVALIDO}}
										</div>
										<div ng-if="showMensagemNaoEncontrado" class="alert alert-danger" role="alert">
											{{messages.CEP_NAO_ENCONTRADO}}
										</div>
										<div ng-if="showMensagemCamposObrigatorios" class="alert alert-danger" role="alert">
											{{messages.CAMPOS_OBRIGATORIOS}}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12" style="padding:10px;margin-top:20px;">
									<button class="btn btn-default" style="width:100%;" type="button" ng-click="salvar();">Adicionar/Modificar</button>
								</div>	
							</div>	
						</div>
					</div>
					
				</div>
			</div>
			<div class="col-lg-2  col-sm-12"></div>
			
		</div>
		
	</div>
</body>
</html>
